.todo-app {
  position: relative;
  width: 450px;
  height: 600px;
  background: #f1f1f1;
  border-radius: 10px;
}

.add-btn-wrapper {
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
}

.clear-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;
}

.clear-text {
  color: #bc44e0;
  cursor: pointer;
}