.todo-list-item {
  display: flex;
  margin: 30px 0;
  align-items: center;

}

.todo-list-item-check {
  display: inline-block;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background: #ba83ca;
  border: 5px solid #f1f1f1;
  outline: 2px solid #e3e3e3;
  border-radius: 8px;
  cursor: pointer;
}

.todo-list-item-text {
  font-size: 20px;
  color: #636e72;
}